body {
  background-color: lightblue;
}

h6 {
  color: navy;
  margin-left: 20px;
}


.container {        
    display: flex;
    align-items: center;
}

#proyects {
    display: flex;
    align-items: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#proyect_wolfenstein {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;	
}

#proyect_automatic_facturer {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;	
}