body {
  background-color: lightblue;
}

h6 {
  color: navy;
  margin-left: 20px;
}


#wolfensteinButton {
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-image: url(https://raw.githubusercontent.com/andi-carretero/andi-carretero.github.io/main/_data/wolfenstein.jpg);
	background-repeat: no-repeat;
}